  #V0.0.6
[ws]
  #The address of the server WebSocket IotVega
address=ws://127.0.0.1:8001
  #The user of the server WebSocket IotVega
user=root
  #The user password
password=123
[mqtt]
  #The address of the broker MQTT
address=mqtt://127.0.0.1:1883
[other]
  #debug mode
debug_enabled=true
  #Auto-Update Application
auto_update=true
